body{
  background-color: purple;
}

#navigation-bar{
  background-color: brown;
  padding: 15px;
  border-bottom: 2px solid ;
}

#nav-list li{
  background-color: green;
  border: 1px solid saddlebrown;
  font-size: 20px;
}

#nav-list li > a{
  color: orange;
}

#heading{
  padding-top: 30px;
  padding-bottom: 20px;
}

#Chicken, #Beef, #Sushi{
  background-color: yellow;
  border: 5px solid saddlebrown;
  margin-bottom: 25px;
  padding: 5px;
}
#Chicken1 {

}